@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header {
  background-image: url('./images/bg6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 150px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

h2 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  font-family: 'Orbitron', sans-serif;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

li a {
  padding: 5px;
  background-color: #fff;
  text-decoration: none;
}

.nav-home a {
  background-color: royalblue;
  color: white;
  font-weight: 600;
}

.nav-about a {
  background-color: royalblue;
  color: white;
  font-weight: 600;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.container,
.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;

}

.image {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

h3 {
  font-size: 0.8em;
}

.addToCart {
  position: absolute;
  width: 100%;
  background-color: darkgray;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  margin-bottom: -17px;
  text-decoration: none;
}

img {
  height: 250px;
  width: 250px;
  
}

/* Cart Page */
.product-containers {
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.product-containers ion-icon {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  max-width: 650px;
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
.sm-hide {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.product ion-icon {
  cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product img {
  height: 150px;
  width: 150px;
  text-align: left;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

@media(max-width: 500px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: center;
  }

  .sm-hide {
    display: none;
    width: 200px;
  }

  .product,
  .product-header {
    justify-content: center;
  }

  .basketTotalContainer {
    padding-right: 8%;
  }
}